/* rodeo.css */

/*
 body
*/

body {
  background-color: white;
  color:black;
/*  font-family: 'ＭＳ　ゴシック','Ariel',sans-serif; */
/*  font-size:80%; */
}
body.margin0 {
  background-color: white;
  color: black;
  margin: 0px;
}
body.dummy {
  background-color: white;
  color:black;
  margin:0px;
  padding:0px;
  border-width:1px;
  border-style:solid;
  border-color:gray;
}

th,td,input,select,textarea,button {
/*  font-size:80%; */
}

/*
 div
*/

div.header {
  background:#eeeeee;
  border-width:1px;
  border-style:solid;
  border-color:gray;
  overflow-x:auto;
  overflow-y:auto;
  margin-bottom:2px;
}
div.tables {
  border-width:1px;
  border-style:solid;
  border-color:gray;
  overflow-x:auto;
  overflow-y:scroll;
  margin-bottom:2px;
}
div.frame {
  border-width:0px;
  overflow-x:scroll;
  overflow-y:hidden;
  margin:0px;
  padding:0px;
}
div.fields {
  border-width: 0px;
  background:#eeeeee;
  overflow-x:hidden;
  overflow-y:auto;
  margin:0px;
  padding:0px;
}
div.records {
  border-width:0px;
  border-color:#eeeeee;
  overflow-x:scroll;
  overflow-y:auto;
  margin:0px;
  padding:0px;
}
div.table_tools {
  border-width:1px;
  border-style:solid;
  border-color:gray;
  overflow-x:auto;
  overflow-y:auto;
  margin-bottom:2px;
  padding:0px;
}
div.browse_tools {
  border-width:0px;
  border-style:solid;
  border-color:gray;
  overflow-x:auto;
  overflow-y:auto;
  margin-bottom:2px;
  padding:0px;
}
div.status {
  border-width:0px;
  border-style:solid;
  border-color:#eeeeee;
  background:white;
  overflow-x:auto;
  overflow-y:auto;
  margin:0px;
}
div.work {
  border-width:1px;
  border-style:solid;
  border-color:gray;
  overflow-x:auto;
  overflow-y:scroll;
  margin:0px;
}
div.googlemap {
  border-width:1px;
  border-style:solid;
  border-color:gray;
  overflow-x:hidden;
  overflow-y:hidden;
  margin:0px;
}

/*
 span
*/

span.help {
  color:blue;
  font-weight:bold;
}

/*
 table
*/

table.login {
  border-style: solid;
  border-color: gray;
  border-width: 1px;
  border-collapse: collapse;
  empty-cells: show;
  background-color:#eeeeee;
  padding: 2px;
  margin: 0px;
}
table.table_list {
  border-style: solid;
  border-color: #d3d3d3;
  border-width: 0px;
  border-collapse: collapse;
  empty-cells: show;
  background-color: white;
  padding: 0px;
  margin: 0px;
}
table.record_dummy {
  border-style: solid;
  border-color: gray;
  border-width: 1px;
  border-collapse: collapse;
  empty-cells: show;
  background-color:#eeeeee;
  padding: 2px;
  margin: 0px;
}
table.record_frame {
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  border-collapse: collapse;
  empty-cells: hide;
  background-color: white;
  padding: 0px;
  margin-bottom:2px;
}
table.field_list {
  border-style: solid;
  border-color: #d3d3d3;
  border-width: 0px;
  border-collapse: collapse;
  empty-cells: show;
  background-color: #eeeeee;
  padding: 0px;
  margin: 0px;
}
table.record_list {
  border-style: solid;
  border-color: #d3d3d3;
  border-width: 0px;
  border-collapse: collapse;
  empty-cells: show;
  background-color: white;
  padding: 0px;
  margin: 0px;
}
table.record_tools {
  border-style: solid;
  border-color: #eeeeee;
  border-width: 1px;
  border-collapse: collapse;
  empty-cells: show;
  background-color: #eeeeee;
  padding: 2px;
  margin: 0px;
}
table.record_status {
  border-style: solid;
  border-width: 1px;
  border-color: #eeeeee;
  border-collapse: collapse;
  empty-cells: show;
  background-color: #eeeeee;
  margin:0px;
  padding:0px;
}
table.record_spec {
  border-style: solid;
  border-color: gray;
  border-width: 1px;
  border-collapse: collapse;
  empty-cells: show;
  padding: 0px;
  margin: 0px;
}
table.noborder {
  border-style: solid;
  border-color: gray;
  border-width: 0px 0px 1px 0px;
  border-collapse: collapse;
  border-spacing:10px;
  empty-cells: show;
  padding: 0px;
  margin: 0px;
}

/*
 iframe
*/

iframe.frame {
  border-style: solid;
  border-color: gray;
  border-width: 0px;
  background-color: white;
  padding: 0px;
  margin: 0px;
}
iframe.work {
  border-style: solid;
  border-color: gray;
  border-width: 1px;
  background-color: white;
  padding: 0px;
  margin: 0px;
}
iframe.inserter {
  width: 100%;
  height: 0px;
  border-style: none;
  border-color: gray;
  border-width: 1px;
  background-color: white;
  padding: 0px;
  margin: 0px;
}
iframe.uploader {
  width: 100%;
  height: 0px;
  border-style: none;
  border-color: gray;
  border-width: 1px;
  background-color: white;
  padding: 0px;
  margin: 0px;
}

/*
 th
*/

th.login {
  border-style: solid;
  border-color: #eeeeee;
  border-width: 1px;
  border-collapse: collapse;
  empty-cells: show;
  background-color:#eeeeee;
  padding: 4px;
  margin: 0px;
}
th.table_list_odd {
  border-style: solid;
  border-color: #d3d3d3;
  border-width: 0px 1px 1px 0px;
  background:ivory;
  font-weight:normal;
  padding: 2px;
  margin: 0px;
}
th.table_list_even {
  border-style: solid;
  border-color: #d3d3d3;
  border-width: 0px 1px 1px 0px;
  background:white;
  font-weight:normal;
  padding: 2px;
  margin: 0px;
}
th.table_list {
  border-style: solid;
  border-color: #d3d3d3;
  border-width: 0px 1px 1px 0px;
  background:#eeeeee;
  font-weight:normal;
  padding: 2px;
  margin: 0px;
}
th.table_dummy {
  border-style: solid;
  border-color: #d3d3d3;
  border-width: 1px;
  background:#eeeeee;
  font-weight:normal;
  padding: 2px;
  margin: 0px;
}
th.field_list {
  border-style: solid;
  border-color: #d3d3d3;
  border-width: 1px;
  background:#eeeeee;
  font-weight:normal;
  padding: 2px 2px 2px 2px;
  margin: 0px;
}
th.field_element {
  border-style: solid;
  border-color: gray;
  border-width: 0px;
  background-color:#eeeeee;
  font-weight:normal;
  text-align:left;
  padding: 1px 1px 1px 2px;
  margin: 0px;
}
th.record_list {
  border-style: solid;
  border-color: #d3d3d3;
  border-width: 1px 1px 1px 1px;
  background:#eeeeee;
  font-weight:normal;
  padding: 2px;
  margin: 0px;
}
th.record_spec {
  white-space:nowrap;
  border-style: solid;
  border-color: gray;
  border-width: 1px;
  background:#eeeeee;
  font-weight:normal;
  text-align:left;
  padding: 2px;
  margin: 0px;
}
th.field_conf {
  /* width:200; */
  white-space:nowrap;
  border-style: solid;
  border-color: gray;
  border-width: 1px;
  background:#eeeeee;
  font-weight:normal;
  text-align:left;
  padding: 1px;
  margin: 0px;
}
th.field_conf2 {
  white-space:nowrap;
  border-style: solid;
  border-color: gray;
  border-width: 0px 1px 0px 1px;
  background:#eeeeee;
  font-weight:normal;
  text-align:left;
  padding: 1px;
  margin: 0px;
}

/*
 td
*/

td.login {
  border-style: solid;
  border-color: #eeeeee;
  border-width: 1px;
  border-collapse: collapse;
  empty-cells: show;
  background-color:#eeeeee;
  padding: 4px;
  margin: 0px;
}
td.table_list_odd {
  border-style: solid;
  border-color: #d3d3d3;
  border-width: 0px 0px 1px 0px;
  background:ivory;
  font-weight:normal;
  padding: 2px;
  margin: 0px;
}
td.table_list_even {
  border-style: solid;
  border-color: #d3d3d3;
  border-width: 0px 0px 1px 0px;
  background:white;
  font-weight:normal;
  padding: 2px;
  margin: 0px;
}
td.record_list {
  border-style: solid;
  border-color: #d3d3d3;
  border-width: 1px 1px 1px 1px;
  font-weight:normal;
  padding: 2px;
  margin: 0px;
}
td.record_frame {
  border-style: solid;
  border-color: gray;
  border-width: 1px;
  padding: 0px;
  margin: 0px;
}
td.record_status {
  padding: 4px;
}
td.record_spec {
  border-style: solid;
  border-color: gray;
  border-width: 1px;
  background:white;
  font-weight:normal;
  text-align:left;
  padding: 2px;
  margin: 0px;
}
td.record_edit {
  border-style: solid;
  border-color: gray;
  border-width: 1px;
  background:white;
  font-weight:normal;
  text-align:left;
  padding: 0px;
  margin: 0px;
}
td.field_conf {
  white-space:nowrap;
  border-style: solid;
  border-color: gray;
  border-width: 1px;
  background:white;
  font-weight:normal;
  text-align:left;
  padding: 1px 3px 1px 1px;
  margin: 0px;
  width:100%;
}
td.field_conf0 {
  white-space:nowrap;
  border-style:none;
  border-width:0px;
  background:white;
  font-weight:normal;
  padding: 0px;
  margin: 0px;
}
td.field_conf2 {
  white-space:nowrap;
  border-style: solid;
  border-color: gray;
  border-width: 0px;
  background:white;
  font-weight:normal;
  text-align:left;
  padding: 0px;
  margin: 0px;
}

/*
 img
*/

img.icon {
  width:16px;
  height:16px;
  border:0px;
  vertical-align:middle;
}

/*
 form
*/

select {
  border: #808080 solid 1px;
  margin: 1px;
}
textarea {
  border: #808080 solid 1px;
  padding-left: 2px;
  padding-right: 2px;
  margin: 1px;
}
input[type="text"],input[type="password"] {
  border: #808080 solid 1px;
  padding-left: 2px;
  padding-right: 2px;
  margin: 1px;
}
input[type="checkbox"],input[type="radio"] {
  border: #808080 solid 0px;
  margin: 1px;
  vertical-align:middle;
}
input[type="submit"],input[type="cancel"],input[type="button"] {
  border: #808080 solid 1px;
  margin: 1px;
}
input[type="file"] {
  border: #808080 solid 0px;
  margin: 1px;
}
input[type="button"].tab-l {
  background:white;
  border: #808080 solid 1px;
  border-width: 1px 0px 0px 1px;
  margin: 1px 0px 0px 1px;
  padding: 0px;
}
input[type="button"].tab-r {
  background:white;
  border: #808080 solid 1px;
  border-width: 1px 1px 0px 0px;
  margin: 1px 1px 0px 0px;
  padding: 0px;
}
