/* rodeo.css */

/* @media screen { */

/*
 body
*/

  body,th,td,input,select,button,textarea {
    color: #111111;
  }
  body {
    background-color: white;
    margin: 2px;
    padding: 0px;
  }
  body.margin0 {
    background-color: white;
    margin: 0px;
  }
  body.margin1 {
    background-color: white;
    margin: 1px;
  }
  body.margin2 {
    background-color: white;
    margin: 2px;
  }
  body.dummy {
    background-color: white;
    margin:0px;
    padding:0px;
    border-width:1px;
    border-style:solid;
    border-color:gray;
  }
  body.frame {
    background-color: white;
    margin: 0px;
    border-width:1px;
    border-style:solid;
    border-color:gray;
    padding:0px;
  }

  /*
   div
  */

  /* ロゴ部分 */
  div.header {
    background:#eeeeee;
    border-width:1px;
    border-style:solid;
    border-color:gray;
/*
    overflow-x:auto;
    overflow-y:auto;
*/
    padding:1px;
    margin:0px 0px 1px 0px;
  }
  /* テーブル一覧 */
  div.tables {
    float:left;
    border-width:1px;
    border-style:solid;
    border-color:gray;
    overflow-x:auto;
    overflow-y:scroll;
  }
  /* ツールバー */
  div.table_tools {
    border-width:1px;
    border-style:solid;
    border-color:gray;
    overflow-x:hidden;
    overflow-y:auto;
    margin-bottom:1px;
    padding:0px;
  }
  /* タブ */
  div.table_tabs {
    width:100;
    border-width:0px;
    border-style:solid;
    border-color:#eeeeee;
    background:white;
    overflow-x:hidden;
    overflow-y:auto;
    margin:0px;
  }
  /* 作業領域 */
  div.table_work {
    border-width:0px;
    border-style:solid;
    border-color:gray;
    overflow-x:hidden;
    overflow-y:hidden;
    margin:0px;
    padding:0px;
  }
  div.frame {
    border-width:0px;
    overflow-x:scroll;
    overflow-y:hidden;
    margin:0px;
    padding:0px;
  }
  div.fields {
    border-width:0px;
    background:#eeeeee;
    overflow-x:hidden;
    overflow-y:scroll;
    margin:0px;
    padding:0px;
  }
  div.records {
    border-width:0px;
    border-color:#eeeeee;
    overflow-x:scroll;
  /*  overflow-y:scroll; */
    margin:0px;
    padding:0px;
  /*  height:180px; */
  }
  div.browse_tools {
    border-width:0px;
    border-style:solid;
    border-color:gray;
    overflow-x:auto;
    overflow-y:auto;
    margin-bottom:2px;
    padding:0px;
  }
  div.status {
    border-width:0px;
    border-style:solid;
    border-color:#eeeeee;
    background:white;
    overflow-x:auto;
    overflow-y:auto;
    margin:0px;
    padding:0px;
  }
  div.work {
    border-width:1px;
    border-style:solid;
    border-color:gray;
    overflow-x:auto;
    overflow-y:scroll;
    margin:0px;
  }
  div.googlemap {
    border-width:1px;
    border-style:solid;
    border-color:gray;
    overflow-x:hidden;
    overflow-y:hidden;
    margin:0px 1px 1px 1px;
  }
  div.calendar {
    border-width:0px;
    background:#eeeeee;
    overflow-x:auto;
    overflow-y:auto;
    margin:0px;
    padding:0px;
  }
  div.detail {
    border-width:0px;
    overflow-x:auto;
    overflow-y:auto;
    margin:0px;
    padding:0px;
  }

  /*
   span
  */

  span.help {
    color:blue;
    font-weight:bold;
  }

  /*
   table
  */

  table.login {
    border-style: solid;
    border-color: gray;
    border-width: 1px;
    border-collapse: collapse;
    empty-cells: show;
    background-color:#eeeeee;
    padding: 2px;
    margin: 0px;
  }
  table.table_tools {
    border-style: solid;
    border-color: gray;
    border-width: 0px;
    border-collapse: collapse;
    empty-cells: show;
    background-color: #eeeeee;
    padding: 0px;
    margin: 0px;
  }
  table.table_list {
    border-style: solid;
    border-color: gray;
    border-width: 1px;
    border-collapse: collapse;
    empty-cells: show;
    background-color: white;
    padding: 0px;
    margin: 0px;
  }
  table.record_dummy {
    border-style: solid;
    border-color: gray;
    border-width: 1px;
    border-collapse: collapse;
    empty-cells: show;
    background-color:#eeeeee;
    padding: 2px;
    margin: 0px;
  }
  table.record_frame {
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-color: #d3d3d3;
    border-collapse: collapse;
    empty-cells: hide;
    background-color: white;
    padding: 0px;
    margin-bottom:1px;
  }
  table.record_frame_top {
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-color: #d3d3d3;
    border-collapse: collapse;
    empty-cells: hide;
    background-color: white;
    padding: 0px;
    margin:0px;
  }
  table.record_frame_bottom {
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-color: #d3d3d3;
    border-collapse: collapse;
    empty-cells: hide;
    background-color: white;
    padding: 0px;
    margin:0px;
  }
  table.field_list {
    border-style: solid;
    border-color: #d3d3d3;
    border-width: 0px;
    border-collapse: collapse;
    empty-cells: show;
    background-color: #eeeeee;
    padding: 0px;
    margin: 0px;
  }
  table.record_list {
    border-style: solid;
    border-color: #d3d3d3;
    border-width: 0px;
    border-collapse: collapse;
    empty-cells: show;
    background-color: white;
    padding: 0px;
    margin: 0px;
  }
  table.record_tools {
    border-style: solid;
    border-color: #eeeeee;
    border-width: 1px;
    border-collapse: collapse;
    empty-cells: show;
    background-color: #eeeeee;
    padding: 2px;
    margin: 0px;
  }
  table.record_status {
    border-style: solid;
    border-width: 1px;
    border-color: #eeeeee;
    border-collapse: collapse;
    empty-cells: show;
    background-color: #eeeeee;
    margin:0px;
    padding:0px;
  }
  table.record_spec {
    border-style: solid;
    border-color: gray;
    border-width: 1px;
    border-collapse: collapse;
    empty-cells: show;
    padding: 0px;
    margin: 0px;
  }
  table.noborder {
    border-style: solid;
    border-color: gray;
    border-width: 0px 0px 1px 0px;
    border-collapse: collapse;
    border-spacing:10px;
    empty-cells: show;
    padding: 0px;
    margin: 0px;
  }
  table.border0 {
    border-style: solid;
    border-color: gray;
    border-width: 0px 0px 0px 0px;
    border-collapse: collapse;
    empty-cells: show;
    padding: 0px;
    margin: 0px;
  }

  /*
   iframe
  */

  iframe.frame {
    border-style: solid;
    border-color: gray;
    border-width: 0px;
    background-color: white;
    padding: 0px;
    margin: 0px;
  }
  iframe.work {
    border-style: solid;
    border-color: gray;
    border-width: 1px;
    background-color: white;
    padding: 0px;
    margin: 0px;
  }
  iframe.inserter {
    width: 100%;
    height: 0px;
    border-style: none;
    border-color: gray;
    border-width: 1px;
    background-color: white;
    padding: 0px;
    margin: 0px;
  }
  iframe.uploader {
    width: 100%;
    height: 0px;
    border-style: none;
    border-color: gray;
    border-width: 1px;
    background-color: white;
    padding: 0px;
    margin: 0px;
  }

  /*
   th
  */

  th.login {
    border-style: solid;
    border-color: #eeeeee;
    border-width: 1px;
    border-collapse: collapse;
    empty-cells: show;
    background-color:#eeeeee;
    padding: 4px;
    margin: 0px;
  }
  th.table_list_odd {
    border-style: solid;
    border-color: #d3d3d3;
    border-width: 1px;
    background:ivory;
    font-weight:normal;
    padding: 2px;
    margin: 0px;
  }
  th.table_list_even {
    border-style: solid;
    border-color: #d3d3d3;
    border-width: 1px;
    background:white;
    font-weight:normal;
    padding: 2px;
    margin: 0px;
  }
  th.table_list {
    border-style: solid;
    border-color: #d3d3d3;
    border-width: 0px 1px 1px 0px;
    background:#eeeeee;
    font-weight:normal;
    padding: 2px;
    margin: 0px;
  }
  th.table_dummy {
    border-style: solid;
    border-color: #d3d3d3;
    border-width: 1px;
    background:#eeeeee;
    font-weight:normal;
    padding: 2px;
    margin: 0px;
  }
  th.field_list {
    border-style: solid;
    border-color: #d3d3d3;
    border-width: 1px;
    background:#eeeeee;
    font-weight:normal;
    padding: 2px 2px 2px 2px;
    margin: 0px;
  }
  th.field_element {
    border-style: solid;
    border-color: gray;
    border-width: 0px;
    background-color:#eeeeee;
    font-weight:normal;
    text-align:left;
    padding: 1px 1px 1px 2px;
    margin: 0px;
  }
  th.record_list {
    border-style: solid;
    border-color: #d3d3d3;
    border-width: 1px 1px 1px 1px;
    background:#eeeeee;
    font-weight:normal;
    padding: 2px;
    margin: 0px;
  }
  th.record_spec {
    white-space:nowrap;
    border-style: solid;
    border-color: gray;
    border-width: 1px;
    background:#eeeeee;
    font-weight:normal;
    text-align:left;
    padding: 2px;
    margin: 0px;
  }
  th.field_conf {
    /* width:200; */
    white-space:nowrap;
    border-style: solid;
    border-color: gray;
    border-width: 1px;
    background:#eeeeee;
    font-weight:normal;
    text-align:left;
    padding: 1px;
    margin: 0px;
  }
  th.field_conf2 {
    white-space:nowrap;
    border-style: solid;
    border-color: gray;
    border-width: 0px 1px 0px 1px;
    background:#eeeeee;
    font-weight:normal;
    text-align:left;
    padding: 1px;
    margin: 0px;
  }
  th.field_conf_conf {
    /* width:200; */
    white-space:nowrap;
    border-style: solid;
    border-color: gray;
    border-width: 1px;
    background:#eeeeee;
    font-weight:normal;
    padding: 1px;
    margin: 0px;
  }

  /*
   td
  */

  td.login {
    border-style: solid;
    border-color: #eeeeee;
    border-width: 1px;
    border-collapse: collapse;
    empty-cells: show;
    background-color:#eeeeee;
    padding: 4px;
    margin: 0px;
  }
  td.tools {
    border-style: solid;
    border-color: #eeeeee;
    border-width: 1px;
    border-collapse: collapse;
    empty-cells: show;
    background-color:#eeeeee;
    padding: 1px;
    margin: 0px;
  }
  td.table_list_odd {
    border-style: solid;
    border-color: #d3d3d3;
    border-width: 1px;
    background:ivory;
    font-weight:normal;
    padding: 2px;
    margin: 0px;
  }
  td.table_list_even {
    border-style: solid;
    border-color: #d3d3d3;
    border-width: 1px;
    background:white;
    font-weight:normal;
    padding: 2px;
    margin: 0px;
  }
  td.record_list {
    border-style: solid;
    border-color: #d3d3d3;
    border-width: 1px 1px 1px 1px;
    font-weight:normal;
    padding: 2px 2px 2px 2px;
    margin: 0px;
    vertical-align:middle;
  }
  td.record_frame {
    border-style: solid;
    border-color: gray;
    border-width: 1px;
    padding: 0px;
    margin: 0px;
  }
  td.record_status {
    padding: 1px;
  }
  td.record_spec {
    border-style: solid;
    border-color: gray;
    border-width: 1px;
    background:white;
    font-weight:normal;
    text-align:left;
    padding: 1px;
    margin: 0px;
  }
  td.record_edit {
    border-style: solid;
    border-color: gray;
    border-width: 1px;
    background:white;
    font-weight:normal;
    text-align:left;
    padding: 1px;
    margin: 0px;
  }
  td.field_conf {
    white-space:nowrap;
    border-style: solid;
    border-color: gray;
    border-width: 1px;
    background:white;
    font-weight:normal;
    text-align:left;
    padding: 1px 1px 1px 1px;
    margin: 0px;
    width:100%;
  }
  td.field_conf0 {
    white-space:nowrap;
    border-style:none;
    border-width:0px;
    background:white;
    font-weight:normal;
    padding: 0px;
    margin: 0px;
  }
  td.field_conf2 {
    white-space:nowrap;
    border-style: solid;
    border-color: gray;
    border-width: 0px;
    background:white;
    font-weight:normal;
    text-align:left;
    padding: 0px;
    margin: 0px;
  }
  td.border0 {
    white-space:nowrap;
    border-style: solid;
    border-color: gray;
    border-width: 0px;
    background:white;
    font-weight:normal;
    text-align:left;
    padding: 0px;
    margin: 0px;
  }
  td.field_conf_conf {
  /*  white-space:nowrap; */
    border-style: solid;
    border-color: gray;
    border-width: 1px;
    background:white;
    font-weight:normal;
    text-align:center;
    padding: 0px;
    margin: 0px;
  }

  /*
   img
  */

  img.icon {
    width:16px;
    height:16px;
    border:0px;
    vertical-align:middle;
  }

  /*
   optgroup
  */

  optgroup.flist0 {
    font-style:normal;
    background:lightyellow;
  }
  optgroup.flist1 {
    font-style:normal;
    background:lightgrey;
  }
  optgroup.flist2 {
    font-style:normal;
    background:lightyellow;
  }
  optgroup.flist3 {
    font-style:normal;
    background:lightgrey;
  }
  optgroup.flist4 {
    font-style:normal;
    background:lightyellow;
  }
  optgroup.flist5 {
    font-style:normal;
    background:lightgrey;
  }

  /*
   form
  */

  form {
    margin:0px;
  }
  select {
    border: 1px solid #808080;
    margin: 0px;
  }
  textarea {
    border: 1px solid #808080;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px;
  }
  input {
    margin: 0px;
  }
  input[type="text"],input[type="password"] {
    border: 1px solid #808080;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px 2px 0px 0px;
  }
  input[type="checkbox"],input[type="radio"] {
    border: 0px solid #808080;
    margin: 0px;
    vertical-align:middle;
  }
  input[type="submit"],input[type="cancel"],input[type="button"] {
    border: 1px solid gray;
    background: #cdc5a7;
    margin: 0px;
  }
  input[type="button"].tab-l {
    background:white;
    border: 1px solid #808080;
    border-width: 1px 0px 0px 1px;
    margin: 1px 0px 0px 1px;
    padding: 0px;
  }
  input[type="button"].tab-r {
    background:white;
    border: 1px solid #808080;
    border-width: 1px 1px 0px 0px;
    margin: 1px 1px 0px 0px;
    padding: 0px;
  }

/*
}
*/

